{% extends "base.html" %} {% block content %}

<h2>Add New Password</h2>

<form method="POST">
  {% csrf_token %}
  <label>Website</label><br />
  <input type="text" name="website" /><br /><br />

  <label>Username</label><br />
  <input type="text" name="username" /><br /><br />

  <label>Password</label><br />
  <input type="password" name="password" autocomplete="off" /><br /><br />

  <button type="submit">Save</button>
</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<br />
<a href="{% url 'dashboard' %}">Back to dashboard</a>

{% endblock %}
