{% extends "base.html" %}
{% block title %}Vault Locked{% endblock %}
{% block content %}

<div class="page">

    <h1 class="page-title">Vault locked</h1>

    <p class="locked-subtitle">Enter your master password to unlock your vault.</p>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Master password:</label>
            <input class="input-gray" type="password" name="master_password" placeholder="Yourmasterpassword123" autocomplete="off" />
        </div>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <div class="btn-stack">
            <button class="btn btn-red" type="submit">Unlock</button>
            <a class="btn btn-red" href="{% url 'logout' %}">Logout</a>
        </div>
    </form>

</div>

{% endblock %}
