{% extends "base.html" %} {% block content %}

<h2>Register</h2>

<form method="POST">
  {% csrf_token %}
  <label>Username</label><br />
  <input type="text" name="username" /><br /><br />

  <label>Master Password</label><br />
  <input
    type="password"
    name="master_password"
    autocomplete="off"
  /><br /><br />

  <button type="submit">Register</button>
</form>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<br />
<a href="{% url 'login' %}">Already have an account? Login</a>

{% endblock %}
